/* style the navigation bar */
.navigation {
    overflow: hidden;
}

/* style the navigation links */
.navigation a {
    float: left;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
/* style the header of the page  */
header {
    background-color: darkblue;
    background-size: cover;
    background-position: center;
}
header h1 {
    color: ghostwhite;
    font-size: 40px;
    text-align: left;
    padding-left: 14px;

}

#search1 {
    position: absolute;
    top: 11%;
    left: 75%;
    size: 80px;
    width: 500px;
    height: 20px;
}

/* style the search button */
#searchButton {
    position: absolute;
    top: 11%;
    left: 75%;
    width: 60px;
    height: 25px;
    text-align: center;
}
/* style the body of the page */
body {
    background-image: url("game1.jpg");
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position: 80px 250px;

}
#description{
    position: absolute;
    top: 25%;
    left: 45%;
    width: 800px;
    font-size: 21px;
}
#buy {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

#save{
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
footer {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 5%;
    background-color: darkblue;
    color: #FFFFFF;
    text-align: left;
}