/* style the navigation bar */
.navigation {
    overflow: hidden;
}

/* style the navigation links */
.navigation a {
    float: left;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* style the header of the page  */
header {
    background-color: darkblue;
    background-size: cover;
    background-position: center;
}

/* style the body of the page */
body {
    background-image: url("game6.jpg");
    background-repeat: no-repeat;
    background-size: 2262px 800px;
    background-position: 8px 30px;

}

/* style the h1 element of the header */
header h1 {
    color: ghostwhite;
    font-size: 40px;
    text-align: left;
    padding-left: 14px;

}

/* style the h2 element of the header */
body h2 {
    position: absolute;
    bottom: 150px;
    font-size: 50px;
}

/* style the search bar */
#search1 {
    position: absolute;
    top: 11%;
    left: 75%;
    size: 80px;
    width: 500px;
    height: 20px;
}

/* style the search button */
#searchButton {
    position: absolute;
    top: 11%;
    left: 75%;
    width: 60px;
    height: 25px;
    text-align: center;
}

/* style the game1 picture */
#game1 {
    position: absolute;
    bottom: -350px;
    width: 700px;
    height: 500px;
}

/* style the part4 picture */
#part4 {
    position: absolute;
    bottom: -350px;
    width: 800px;
    right: 700px;
    height: 500px;
}

/* style the game3 picture */
#game3 {
    position: absolute;
    bottom: -350px;
    width: 700px;
    right: 7px;
    height: 500px;
}

footer {
    position: absolute;
    left: 0;
    bottom: -420px;
    width: 100%;
    height: 5%;
    background-color: darkblue;
    color: #FFFFFF;
    text-align: left;
}


