/* style the navigation bar */
.navigation {
    overflow: hidden;
}

/* style the navigation links */
.navigation a {
    float: left;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* style the header of the page  */
header {
    background-color: darkblue;
    background-size: cover;
    background-position: center;
}

/* style the slideshow */
.cycle-slideshow img {
    width: 2262px;
    right: 510px;
    height: 700px;
}

/* style the h1 element of the header */
header h1 {
    color: ghostwhite;
    font-size: 40px;
    text-align: left;
    padding-left: 14px;

}
#search1 {
    position: absolute;
    top: 11%;
    left: 75%;
    size: 80px;
    width: 500px;
    height: 20px;
}

/* style the search button */
#searchButton {
    position: absolute;
    top: 11%;
    left: 75%;
    width: 60px;
    height: 25px;
    text-align: center;
}

/* style the body */
body {
    background-repeat: no-repeat;
    background-position-y: 865px;
    background-position-x: 8px;
    background-size: 1503px 500px;
}

/* style the form in the page */
form {
    background-color: white;
    width: 450px;
    border: 5px solid black;
    Height: 520px;
    text-align: Center;
    margin-left: 950px;
    position: absolute;
    top: 865px;
}

/* style the footer */
footer {
    position: absolute;
    left: 0;
    bottom: -2050px;
    width: 100%;
    height: 5%;
    background-color: darkblue;
    color: #FFFFFF;
    text-align: left;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 23%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
#buy,#buy1,#buy2,#buy3,#buy4,#buy5,#buy6,#buy7,#buy8,#buy9,#buy10,#buy11{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

#save,#save1,#save2,#save3,#save4,#save5,#save6,#save7,#save8,#save9,#save10,#save11{
    background-color: lightgrey;
    border: none;
    padding: 15px 32px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}